/**
* ©2015-2018 salesforce.com, inc. All rights reserved.
*/
.header {
    background-color: #eeeeee;
    width: 100%;
    height: 10%;
}

.form-row {
    clear: both;
    margin: 0 0 1em;
}

label, .form-label-text {
    display: block;
    float: left;
    font-size: 1em;
    padding: 0.75em 0 0;
    text-align: left;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: #15284b
}

input[type="text"] {
    border: 1px solid #AAAAAA;
    margin-left: 2%;
    padding: 0.7em 0.5em;
    text-indent: 0;
    width: 49.5966%;
}

input[type="number"] {
    border: 1px solid #AAAAAA;
    margin-left: 2%;
    padding: 0.7em 0.5em;
    text-indent: 0;
    width: 49.5966%;
}

select {
    text-indent: 0;
    height: 3em;
    border: 1px solid #AAAAAA;
    margin-left: 2%;
    padding: 0.7em 0.3em;
    width: 51.6%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: fixed;
}

.label-removed label {
    left: -999em;
    position: absolute;
}

.month, .year, .day {
    clear: none;
    float: left;
    margin: 0 0 2% 2%;
}

.month select, .year select, .day select {
    margin: 0;
    width: auto;
}

.month .form-caption {
    margin-left: 0;
}

.month .error-message {
    width: 100%;
}

.cvn input {
    width: 50px !important;
}

.share-button {
    background: #FFFFFF;
    color: #15284b;
    border-color: transparent !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 100;
    padding: 0.5em 1em;
}


.cancel-button {
    background: #FFFFFF;
    color: #15284b;
    border-color: transparent !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 100;
    padding: 0.5em 1em;
}

.confirm-button {
    background: #FFFFFF;
    color: #15284b;
    border-color: transparent !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 100;
    padding: 0.5em 1em;
}

.form-caption {
    display: block;
    margin: 1% 0 1% 32%;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #15284b;
}

.error-message {
    border: 2px solid #990000;
    background-color: #F1E6E6;
    padding: 0.7em 0.5em;
    text-indent: 0;
    width: 49.5966%;
}

.required-indicator {
    display: none;
}

.topHeader {
    background-color: #15284b;
    width: 100%;
    height: 60px;
}

.cancelButton {
    float: left;
    margin: 10px;
    color: #15284b;
    
}

.shareButton {
    float: right;
    margin: 10px;
    color: #15284b;
    
}

.continueButton {
    float: right;
    margin: 10px;
}

.paymentEntry {
    text-align: center;
    color: white;
    position: absolute;
    left: 40%;
    top: 0.5%;
    font-family: HelveticaNeue, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    margin-top: 12px;
}

.content-area {
    position: absolute;
    height: 90%;
    width: 95%;
}

.leftDiv {
    width: 63%;
    height: 100%;
    float: left;
    position: relative;
    border-right: 1px solid black;
    left: 9px;
}

.paymentOptions {
    width: 100%;
    border-bottom: 1px solid black;
    height: 40px;
    top: 20px;
}

.paymentContent {
    margin: 10px;
}

.rightDiv {
    width: 36%;
    height: 100%;
    float: right;
    position: relative;
    left: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 17px;
}

.clear-button {
    background: #FFFFFF;
    color: #000000;
    width: 120px;
    border-color: "black";
    border-width: 2px !important;
    font-size: .75em;
    font-weight: 100;
    padding: 0.5em 1em;
}

.apply-button {
    background: #FFFFFF;
    color: #000000;
    width: 120px;
    border-color: "black";
    border-width: 2px !important;
    font-size: .75em;
    font-weight: 100;
    padding: 0.5em 1em;
}

.appleLinks a {
    color: #000000;
    text-decoration: none;
}

.appleLinksWhite a {
    color: #ffffff;
}

a {
    color: #000000;
    text-decoration: none;
}

.tableRight {
    align: right;
    width: 200px;
    text-align: right;
     color: #15284b;
    
}

.tableLeft {
    width: 170px;
    color: #15284b;
}

.balanceDue {
    margin-top: 17px;
}

tr.spaceUnder>td {
    padding-bottom: 1em;
}

.load-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
}

.load-image {
    width: 100px;
    height: 100px;
    position: fixed;
    background-color: #777777;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -60px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}