@import 'nav';
@import 'menu_utility';
@import 'country_selector';

#header-area {
	@media screen and (min-width: 1110px) {
		height: 212px;
	}
	@media screen and (max-width: 1109px) {
		height: 136px;
	}
}

.main-header {
	background: $white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	transform: translateZ(0);
	transition-duration: .4s;
	transition-property: left, right, transform, width;
	
	* {
		box-sizing: border-box;
	}

	@media screen and (min-width: 1110px) {
		&.sticky {
			.header-search button,
			.menu-utility-user .stores,
			.mini-cart-total .value,
			.menu-category .category-info,
			.menu-utility-user .user-name {
				display: none;
			}

			.header-content {
				position: static;
			}

			.header-container {
				@include layoutWidth();
				display: flex;
				justify-content: space-between;
				flex-direction: row-reverse;
				align-items: center;
				position: relative;

				> .layout-width {
					width: auto;
					padding: 0;
					margin: 0;
				}
			}

			.primary-logo {
				position: absolute;
				top: 50%;
				left: 1rem;
				line-height: 4.4rem;
				transform: translateY(-50%);
				width: 50px;
				overflow: hidden;
				font-size: 0;

				a {
					vertical-align: top;
				}

				img {
					max-width: none;
				}
			}

			#navigation {
				margin-left: 7rem;
			}

			.menu-category {
				width: 850px;
			}

			.level-1-title {
				padding-top: 2.8rem;
				padding-bottom: 3rem;
				font-size: 1.4rem;
				line-height: 1.8rem;
			}

			.custom-categories {
				padding: 0;

				a {
					border: 0;
					padding: 2.8rem 1.5rem 3rem;
					font-size: 1.4rem;
					line-height: 1.8rem;

					+ a {
						margin: 0;
					}

					&:first-child {
						position: relative;

						&:before {
							position: absolute;
							content: '';
							display: inline-block;
							height: 3rem;
							top: 50%;
							left: 0;
							transform: translateY(-50%);
							width: 1px;
							background: $grey-df;
						}
					}
				}
			}

			.menu-utility-user {
				margin-left: 0;

				li:before {
					position: absolute;
					content: '';
					display: inline-block;
					height: 3rem;
					top: 50%;
					transform: translate(-20px, -50%);
					width: 1px;
					background: $grey-df;
				}

				li > a,
				li .mini-cart-link {
					text-align: left;
				}
			}

			.header-search {
				background: transparent;
				position: absolute;
				width: 0;
				height: 0;

				&:before {
					content: none;
				}
			}

			.search-sticky-btn {
				display: block;

				button {
					color: $blue;
					background: none;
					padding: 0;
					text-align: center;
					font-size: 2.4rem;
					height: 2.8rem;
					line-height: 2.8rem;
				}
			}

			.icon_close {
				display: block;
				position: absolute;
				right: 1rem;
				top: 50%;
				transform: translateY(-50%);
				color: $blue;

				&:before {
					display: inline-block;
					margin-top: 2px;
				}
			}
		}
	}

	@media screen and (max-width: 1109px) {
		transition-delay: 0s, 0s, 0s, .4s;

		html.menu-active & {
			transition-delay: 0s;
		}
	}
}

.search-sticky-btn {
	display: none;

	button {
		transition: none;
	}
}

.primary-logo {
	padding: 0;
	margin: 0;
	width: 315px;
	line-height: 0;
	z-index: 1;

	a,
	img,
	.home-logo {
		display: inline-block;
		vertical-align: middle;
		max-width: 100%;
		color: $blue;
	}

	@media screen and (min-width: 1110px) {
		img {
			width: 315px;
		}
	}
}

.top-bar {
	background: $grey-ef;
	padding: 10px 0 8px;
	font-weight: 500;
	line-height: 1.5rem;

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		display: block;
		padding: 0;
		margin: 0;
	}

	@media screen and (min-width: 1110px) {
		.layout-width {
			display: flex;
			justify-content: space-between;
		}

		li {
			display: inline-block;
			padding-right: 8px;
			vertical-align: top;

			+ li {
				border-left: 1px solid $white;
				padding-left: 10px;
			}
		}

		a {
			padding: 3px 5px 4px;
			display: inline-block;
			vertical-align: top;
		}

		.corporate li:first-child a {
			padding-left: 0;
		}
	}

	@media screen and (max-width: 1109px) {
		background: $grey-f7;
		font-size: 1.1rem;
		padding: 5px 0;

		.main-header > & {
			display: none;
		}

		.layout-width {
			padding: 0 15px;
		}

		li {
			padding: .9rem 0;
		}
	}

	.country {
		position: relative;

		.title .flag {
			vertical-align: top;
		}

		a {
			padding: 0;
		}

		.arrow {
			display: none;
		}

		.flag {
			display: inline-block;
			margin-right: 12px;
			vertical-align: middle;
			max-height: 15px;
		}

		@media screen and (min-width: 1110px) {
			.title {
				display: inline-block;
				padding: 3px 5px 4px;
			}

			.arrow {
				overflow: hidden;
				display: block;
				height: 20px;
				position: absolute;
				left: 50%;
				transform: translate(-50%);
				width: 40px;
				bottom: -20px;
				text-align: center;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease;

				&:after {
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					background: $white;
					box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.17);
					transform: rotate(45deg);
					margin-top: 10px;
				}
			}

			&:hover {
				.title {
					position: relative;
					z-index: 21;
				}

				.languages-list,
				.arrow {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		@media screen and (max-width: 1109px) {
			padding: 5px 0 0;

			.title {
				display: block;
				padding: 12px 0;
				border-top: 1px solid $white;
				position: relative;
				@include icon(icon_arrow_bottom);

				&:before {
					position: absolute;
					right: 0;
					font-size: 1.4rem;
					color: $blue-light;
					transition: .4s;
					height: 8px;
					top: 15px;
				}
			}

			.flag {
				vertical-align: text-bottom;
			}

			&.expanded {
				.title:before {
					transform: rotate(180deg);
				}

				.countries-list {
					border-color: $white;
					margin-bottom: 10px;
				}
			}
		}
	}

	.countries-list {
		li {
			display: block;
			margin: 0;
			padding: 7px 0;
		}

		@media screen and (min-width: 1110px) {
			transition: all 0.3s ease;
			background-color: $white;
			border-radius: 3px;
			box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.17);
			margin-top: 20px;
			opacity: 0;
			position: absolute;
			right: 0;
			visibility: hidden;
			z-index: 20;
			padding: 10px 28px;
			white-space: nowrap;
		}

		@media screen and (max-width: 1109px) {
			border-top: 1px solid transparent;
			transition: margin .4s;
			display: none;

			li {
				padding: 8px 0 7px;
			}
		}
	}
}

.header-banner {
	display: block;
	text-align: center;
	color: $white;
	font-size: 1.2rem;
	line-height: 1.5rem;
	font-weight: 700;
	letter-spacing: 0.03rem;

	.banner-blue,
	.banner-darkblue,
	.banner-green {
		padding: 0.5rem 1rem;
	}
	.banner-blue {
		background-color: $blue-light;
	}
	.banner-darkblue {
		background-color: $blue;
	}
	.banner-green {
		background-color: $green;
	}

	@media screen and (min-width: 1110px) {
		font-size: 1.6rem;
		line-height: 2rem;

		.banner-blue,
		.banner-darkblue,
		.banner-green {
			padding: 1rem;
		}
	}
}

.header-content {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	padding-bottom: 10px;

	@media screen and (max-width: 1109px) {
		padding-bottom: 57px;
		padding-top: 10px;
	}
}

.header-search {
	position: relative;
	@include icon(icon_search);

	@media screen and (max-width: 1109px) {
		position: absolute;
		left: 1rem;
		right: 1rem;
		bottom: 1rem;
	}

	@media screen and (min-width: 1110px) {
		width: 295px;
	}

	&:before {
		position: absolute;
		color: $blue;
		top: 50%;
		left: 1.5rem;
		transform: translateY(-50%);
		font-size: 1.8rem;
	}

	.icon_close {
		display: none;
	}

	.fake-search {
		display: block;
		background: $grey-ef;
		border-radius: 8px;
		margin: 0;
		padding: 0 1rem 0 4rem;
		height: 3.7rem;
		width: 100%;
		color: $blue;
		font-size: 1.4rem;
		letter-spacing: 0.05rem;
		font-weight: 700;
		text-align: left;

		@media screen and (min-width: 1110px) {
			border-radius: 10px;
			font-size: 1.8rem;
		}
	}
}