.menu-utility-user {
	margin: 0;
	padding: 0;
	flex: 0 0 auto;
	display: flex;
	align-items: flex-start;
	line-height: 0;

	@media screen and (min-width: 1110px) {
		margin-left: 1.5em;
	}

	li {
		list-style: none;
		margin: 0;
		padding: 0 0 0 3vw;

		i {
			font-size: 2.8rem;
			height: 2.8rem;
			line-height: 2.8rem;
			padding: 0;
			display: block;
		}

		> a,
		.mini-cart-link {
			color: $blue;
			text-decoration: none;
			display: inline-block;
			position: relative;
			
			@media screen and (min-width: 1110px) {
				text-align: center;
			}
			
			&:active {
				color: $black;
			}

			.arrow {
				overflow: hidden;
				height: 20px;
				position: absolute;
				left: 50%;
				transform: translate(-50%);
				width: 40px;
				bottom: -20px;
				text-align: center;
				opacity: 0;
				visibility: hidden;
				transition: all 0.3s ease;

				&:after {
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					background: $white;
					box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.17);
					transform: rotate(45deg);
					margin-top: 10px;
				}
			}
		}

		&:hover > a,
		&.active .mini-cart-link {
			z-index: 21;

			.arrow {
				opacity: 1;
				visibility: visible;
			}
		}

		@media screen and (min-width: 1110px) {
			padding: 0 1.5em;
		}
	}
	.user-info {
		@media screen and (min-width: 1110px) {
			transition: color 0.5s ease;

			&:hover {
				.user-login {
					color: $blue;
				}

				.user-panel {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		
		.user-panel {
			margin-top: 0.5rem;
			text-align: left;
			transition: all 0.3s ease;

			@media screen and (max-width: 1109px) {
				display: none;
			}

			@media screen and (min-width: 1110px) {
				background-color: $white;
				width: 355px;
				border-radius: 3px;
				box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.17);
				margin-top: 20px;
				opacity: 0;
				position: absolute;
				right: 0;
				visibility: hidden;
				z-index: 20;
			}

			h3 {
				margin: 20px 25px;
				padding: 0;
				text-transform: uppercase;
				font-size: 1.6rem;
				line-height: 2rem;
				font-weight: 700;

				@media screen and (min-width: 768px) {
					display: block;
				}
			}

			.user-links {

				a {
					padding: 20px 25px;
					line-height: 20px;
					font-size: 1.6rem;
					font-weight: 500;

					+ a {
						border-top: 1px solid $grey-ef;
					}
				}

				@media screen and (min-width: 768px) {
					padding-left: 0;
				}
			}

			a {
				color: $blue;
				display: block;
			}

			.user-logout {
				color: $white;
				margin-top: 0.5rem;
				padding: 0.5em 2em;
				text-transform: uppercase;

				&:hover {
					color: $blue;
				}
			}
		}
	}
		
	.user-name {
		display: block;
		color: $grey-72;
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 500;
		margin-top: 5px;

		@media screen and (max-width: 1109px) {
			display: none;
		}

		strong {
			display: block;
			font-weight: 500;
			font-size: 1.2rem;
		}
	}

	.stores .favorite {
		display: block;
		color: $grey-72;
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 500;
		margin-top: 5px;

		@media screen and (max-width: 1109px) {
			display: none;
		}

		strong {
			display: block;
			font-weight: 500;
			font-size: 1.2rem;
		}

		.open,
		.closed {
			position: relative;
			display: block;

			&:before {
				content: '';
				width: 8px;
				height: 8px;
				border-radius: 10px;
				position: absolute;
				top: 3px;
				margin-left: -12px;
			}
		}

		.open:before {background: $green}
		.closed:before {background: $red}
	}
}
