nav[role="navigation"] {
	
	@media screen and (min-width: 1110px) {
		@extend .clearfix;
		color: $grey-44;
	}
	@media screen and (max-width: 1109px) {
		position: fixed;
		top: 0;
		left: -380px;
		width: 380px;
		z-index: 102;
		margin: 0;
		padding: 0;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		background: $white;
		transition: .4s;
	}
}

.menu-toggle {
	border: none;
	color: $blue;
	background: none;
	display: block;
	padding: .3rem 1rem;
	margin: 0 0 0 -1rem;
	outline: 0;
	line-height: 0;
	@media screen and (min-width: 1110px) {
		display: none;
	}
	&:hover {
		color: $blue;
		background: none;
		outline: 0;
	}
	.menu-icon {
		font-size: 2.2rem;
		line-height: 2.2rem;
		display: inline-block;
		height: 2.2rem;
	}

	span {
		line-height: .9rem;
		font-size: .9rem;
		display: block;
	}
}

.menu-category {
	list-style: none;
	margin: 0;
	padding: 0;
	@media screen and (min-width: 1110px) {
		width: 100%;
		display: flex;
		margin-left: -1.5rem;
	}

	li {
		list-style: none;
	}

	.category-info {
		display: block;
		opacity: 0.75;
		font-size: 1.2rem;
		font-weight: 500;
		line-height: 1.5rem;
		letter-spacing: -0.4px;
		padding-top: 3px;
		color: $grey-4a;
	}

	.category-icon {
		display: none;
	}

	.nav-mobile-header-lvl1 {
		display: none;
		
		@media screen and (max-width: 1109px) {
			display: block;
			background: $blue;
			padding: 5px 10px;
			margin: 0;
			box-sizing: border-box;

			button {
				border: 0;
				background: transparent;
				border-radius: 0;
			}

			.fake-search {
				display: block;
				background: $grey-ef;
				border-radius: 8px;
				margin: 0;
				padding: 0 1rem 0 4rem;
				height: 3.7rem;
				width: 100%;
				color: $blue;
				font-size: 1.4rem;
				letter-spacing: 0.05rem;
				font-weight: 700;
				text-align: left;
				position: relative;
				@include icon(icon_search);
			
				&:before {
					position: absolute;
					color: $blue;
					top: 50%;
					left: 1.5rem;
					transform: translateY(-50%);
					font-size: 1.8rem;
				}
			}

			.close-nav {
				margin-left: -5px;
			}
		}
	}

	.close-nav {
		padding: 13px 15px;
		display: inline-block;
		font-size: 1.6rem;
		line-height: 1.6rem;
		color: $white;
	}

	.nav-mobile-header-lvl2 {
		display: none;
		
		@media screen and (max-width: 1109px) {
			display: block;
			background: $blue;
			padding: 0;
			margin: 0;
	
			.close-nav {
				position: absolute;
				right: 0;
				top: 0;
			}

			.back {
				display: block;
				width: calc(100% - 55px);
				margin: 0;
				padding: 1.3rem 0 1.5rem 55px;
				border: 0;
				background: none;
				font-size: 1.7rem;
				line-height: 2rem;
				font-weight: 700;
				color: $white;
				text-align: left;
				position: relative;
				@include icon(icon_arrow_back);

				span {
					font-size: 1.3rem;
					line-height: 1.4rem;
					font-weight: 400;
					color: $white;
				}

				&:before {
					color: $white;
					position: absolute;
					top: 13px;
					left: 26px;
					font-size: 1.4rem;
				}
			}
		}
	}

	@media screen and (max-width: 1109px) {
		.category-info {
			padding-top: 1px;
		}

		.category-icon {
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 20px;
			width: 30px;
			height: 30px;

			img {
				max-height: 100%;
			}
		}
	}
}

.level-1-li {
	@media screen and (min-width: 1110px) {
		flex: 0 1 auto;

		&:hover,
		&.current {
			.level-1-title:after {
				opacity: 1;
			}
		}
	}
}

.level-1-title {
	color: $blue;
	display: block;
	font-size: 1.4rem;
	line-height: 1.8rem;
	font-weight: 700;
	letter-spacing: 0.04rem;
	padding: 1rem 1.5rem 1.5rem;
	position: relative;
	
	@media screen and (min-width: 1110px) {
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;

		&:after {
			content: '';
			position: absolute;
			height: 4px;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 2px;
			background-color: $gold-light;
			opacity: 0;
			transition: .3s;
		}
	}
}

.level-2 {
	.banner {
		position: relative;
		border-radius: 3px;
		overflow: hidden;

		a {
			display: block;
		}

		img {
			vertical-align: top;
			max-width: 100%;
			display: block;
		}
		
		.link {
			position: absolute;
			bottom: 10px;
			right: 12px;
			left: 10px;
			border-radius: 3px;
			background: $white-aplha-60;
			color: $blue;
			font-size: 1.8rem;
			line-height: 2rem;
			padding: 1.1rem 1rem;
			font-weight: 700;
			@include icon(icon_arrow_right-round);

			&:before {
				position: absolute;
				top: 50%;
				right: 2rem;
				transform: translateY(-50%);
				font-size: 1.6rem;
				color: $blue-light;
			}
		}
	}

	.level-2-links {
		font-size: 1.8rem;
		letter-spacing: -0.067rem;
		line-height: 2.3rem;
		font-weight: 700;
		text-transform: uppercase;

		a {
			color: $blue;
			@include icon(icon_arrow_right-round);
			position: relative;
			padding-right: 4rem;

			&:before {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				font-size: 1.6rem;
				color: $blue-light;
			}
		}
	}

	.level-2-title {
		display: inline-block;
		padding: 0 2rem 0.9rem 0;
		font-size: 1.8rem;
		font-weight: 700;
		letter-spacing: -0.054rem;
		line-height: 2.9rem;
		color: $blue;
	}

	.level-2-li {
		padding: 0;
	}

	@media screen and (max-width: 1109px) {
		.layout-width {
			margin: 0;
			padding: 0;
		}

		.banner {
			margin: 15px 15px 10px;

			img {
				width: 100%;
			}

			.link {
				font-size: 1.4rem;
				line-height: 1.7rem;
				padding: 1rem;
			}
		}

		.level-2-area {
			margin: 0 0 0 15px;
		}

		.level-2-links {
			display: block;
			overflow: hidden;

			a {
				display: block;
				font-size: 1.4rem;
				line-height: 1.8rem;
				margin: 2rem 0;
				@include icon(icon_arrow_right);

				&:before {
					right: 2rem;
					font-size: 1.2rem;
				}
			}

			+ .level-2-ul .level-2-li:first-child {
				margin: 0;
			}
		}

		.level-2-ul {
			padding: 0 0 4.5rem;
		}

		.level-2-li {
			border-top: 1px solid $grey-df;
			margin-top: 1.5rem;

			&.new-col {
				border: 0;
				margin: 0;
			}
		}

		.level-2-title {
			font-size: 1.6rem;
			line-height: 1.7rem;
			letter-spacing: -0.48px;
			padding: 2.3rem 0 1.6rem;
		}
	}

	@media screen and (min-width: 1110px) {
		display: none;
		background-color: $white;
		box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.2);
		color: $grey-44;
		padding: 3rem 0 1.4rem;
		position: absolute;
		left: -2000px;
		right: -2000px;
		z-index: 1;

		.level-1-li:hover &,
		.level-1-li.active & {
			display: block;
		}
		
		.layout-width {
			display: flex;
		}

		.level-2-area {
			flex: 1 1 auto;
		}

		.level-2-ul {
			padding: 2rem 0 0;
			display: flex;
			border-top: 1px solid #d8d8d8;
		}

		.level-2-li {
			flex: 1 1 33.33%;
			padding-right: 2rem;

			&.new-col {
				padding-top: 3.8rem;
			}
		}

		.banner {
			flex: 0 0 auto;
			margin-right: 9rem;

			.link {
				padding: 1.3rem 1rem;
				left: 15px;
				right: 15px;
				bottom: 20px;

				&:before {
					right: 1rem;
				}
			}
		}

		.level-2-links {
			display: inline-block;
			padding-bottom: 20px;

			a {
				padding-right: 2rem;

				+ a {
					margin-left: 60px;
				}

				&:before {
					right: 0;
				}
			}
		}
	}
}

.level-3-ul {
	padding: 0;

	.level-3-title {
		font-size: 1.4rem;
		font-weight: 500;
		line-height: 1.6rem;
		padding: 0;
	}

	@media screen and (max-width: 1109px) {
		.level-3-li {
			padding: 1.1rem 0 1rem;
		}
		
		.level-3-title {
			color: $black;
			display: block;
			position: relative;
			@include icon(icon_arrow_right);

			&:before {
				position: absolute;
				right: 2rem;
				font-size: 1.2rem;
				color: $blue-light;
			}
		}

	}

	@media screen and (min-width: 1110px) {

		.level-3-li {
			padding: 0 0 1.6rem;
		}
		
		.level-3-title {
			color: $brown;
		}
	}
}

.custom-categories {
	@media screen and (min-width: 1110px) {
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		padding-top: 10px;

		a {
			font-size: 1.6rem;
			font-weight: 700;
			letter-spacing: 0.04rem;
			line-height: 2rem;
			border: 1px solid $blue;
			padding: 8px 14px;
			border-radius: 5px;
			color: $blue;
			text-align: center;

			+ a {
				margin-left: 10px;
				height: 58px; /*It's so ugly*/
			}
			
			&.only-mobile {
				display: none;
			}
		}
	}
}

#js-overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: $black;
	visibility: hidden;
	opacity: 0;
	z-index: 101;
	transition-property: opacity, visibility;
	transition-delay: 0s, .4s;
	transition-duration: .4s, 0s;

	html.menu-active & {
		display: block;
		visibility: visible;
		opacity: 0.5;
		transition-delay: 0s, 0s;
		transition-duration: .4s, 0s;
	}
}



@media screen and (max-width: 1109px) {
	.level-1-ul {
		position: relative;
		width: 200%;
		transition: left .4s;
		left: 0;
	}

	.level-1-li {
		width: 50%;
		padding: .9rem 0;
	}

	.level-1-title {
		position: relative;
		padding: 0 4rem 0 6.7rem;

		&.has-sub-menu {
			@include icon(icon_arrow_right);

			&:before {
				position: absolute;
				top: 50%;
				right: 1.5rem;
				transform: translateY(-50%);
				font-size: 1.4rem;
				color: $blue-light;
			}
		}
	}

	.level-2 {
		position: absolute;
		top: 0;
		left: 50%;
		width: 50%;
		visibility: hidden;
		display: none;
		transition: visibility 0s linear .4s;
	}

	.level-1-li.cat-active .level-2 {
		visibility: visible;
		transition-delay: 0s;
	}

	.custom-categories {
		padding: .5rem 0;
		margin-bottom: 4px;
		border-bottom: 1px solid $grey-df;

		a {
			display: block;
			font-size: 1.4rem;
			font-weight: 700;
			line-height: 1.8rem;
			color: $blue;
			padding: .7rem 4rem .7rem 2rem;
			position: relative;
			@include icon(icon_arrow_right);

			&:before {
				position: absolute;
				top: 50%;
				right: 1.5rem;
				transform: translateY(-50%);
				font-size: 1.4rem;
				color: $blue-light;
			}
		}
	}
}

.js-top-bar {
	padding-bottom: 0;
}