html {
	font-size: 10px;
}

@media screen and (max-width: 1109px) {
	#wrapper {
		position: relative;
		min-height: 100%;
		overflow: hidden;
		transition: .4s;
		left: 0;
	}
	html.menu-active {
		width: 100%;
		position: fixed;
	}
}

body {
	background: $white;
	color: $blue;
	font-family: $quicksand;
	font-weight: 400;
	font-size: 1.2rem;
	letter-spacing: 0.08em;
}

a {
	color: $grey-4a;
	outline: medium none;
	text-decoration: none;

	&:hover {
		color: $blue;
	}
}

fieldset {
	border: 0 none;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

th {
	text-align: left;
}

td {
	padding: 1em;
	vertical-align: top;
}

button,
.button,
.buttonstyle,
input[type="button"] {
	background-color: $gold;
	border-radius: 2px;
	border: 0;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.1em;
	font-weight: 500;
	padding: 0.5em 2em;
	text-align: center;
	transition: all 0.3s ease;
	&.large {
		font-size: 1.35em;
		text-transform: uppercase;
	}
	&:hover {
		background-color: $white;
		color: $gold;
	}
	&.raised {
		border-width: 0;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		&:hover {
			background-color: darken($gold, 10%);
			color: $white;
		}
	}
	&.simple {
		background-color: $white;
		color: darken($gold, 10%);
	}
	&[disabled],
	&.disabled {
		background-color: $grey-d8;
		border-color: $grey-d8;
		color: $grey-72;
		opacity: 0.5;
	}
	a {
		color: $white;
		&:hover {
			color: $gold;
		}
	}
	i {
		&.left {
			margin-right: 0.6em;
		}
		&.right {
			margin-left: 0.6em;
		}
	}
}

.button-fancy-small {
}

.button-fancy-medium {
}

.button-fancy-large {
	@extend .button.large;
}

.button-text {
	background-color: transparent;
	border-width: 0;
	color: $gold;
	padding: 0;
	&:hover {
		background-color: transparent;
		text-decoration: underline;
	}
}

.button-full-width {
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	width: 100%;
}
