.breadcrumb {
	font-size: 1em;
	line-height: 1em;
	margin: 0;
	padding: .5em 1%;
	li {
		display: inline;
		list-style: none outside none;
	}
}

.paging-current-page {
	left: -999em;
	position: absolute;
}

.breadcrumb-element {
	&:after {
		color: $grey-d8;
		content: '/';
		margin-left: .4em;
	}
	&:last-child {
		font-weight: 700;
		&:after {
			content: '';
		}
	}
}

.breadcrumb-refinement {
	font-weight: 700;
	&:after {
		content: attr(data-divider);
		font-style: normal;
	}
	&:last-of-type {
		&:after {
			content: '';
		}
	}
}

.breadcrumb-refinement-value {
	display: inline-block;
	border-radius: 3px;
	margin: 0 .42em .42em 0;
	padding: 0 .42em;
}

.breadcrumb-relax {
	background: none;
	color: $red;
	font-style: normal;
	padding: 0 0 0 .4em;
}

.breadcrumb-result-text a,
.breadcrumb .searchphraselink {
	background: none;
	padding: 0;
}

.return-element {
	padding-top: 16px;
	position: relative;
	a {
		@include title-11;
	}
	i {
		padding-right: 5px;
		font-size: 1.7rem;
	}
}

@media screen and (min-width: 1110px) {
	.return-element a {
		@include title-10;
	}
}
