.cat-image{
	margin: auto;
	//margin-left: 50px;
	width: 100%;
	height: 300px;
	text-align: center;
	@media (max-width:600px) {
		margin-left: 70px;
		width: 70%;
	height: 200px;
	}

}

.bottom-banner-container {
	overflow: hidden;
	.bottom-banner-cell {
		float: left;
		overflow: hidden;
		text-align: center;
	}
	.banner-cell-1 {
		width: 33%;
	}
	.banner-cell-2 {
		width: 34%;
	}
	.banner-cell-3 {
		width: 33%;
	}
}
