footer {
	background-color: $blue-marine;
	clear: both;
	color: $white;
	padding: 16px 0 0;
	letter-spacing: .03rem;
	@media screen and (min-width: 1110px) {
		border-top: 20px solid $blue-dark;
	}

	@media screen and (max-width: 1109px) {
		.layout-width {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}

.footer-container {
	@media screen and (min-width: 1110px) {
		padding: 0;

		.footer-menu {
			display: flex;
		}
	}

	dl {
		box-sizing: border-box;
		display: block;
		padding: .5em 1.5em;

		@media screen and (min-width: 1110px) {
			padding: 0 1.5em 0;
			width: 25%;
			margin: 0;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	dt {
		text-transform: uppercase;
		font-size: 1.6rem;
		line-height: 2rem;
		font-weight: 700;
		padding: 0 0 1rem;
		margin: 0;
	}

	dd {
		font-size: 1.3rem;
		font-weight: 400;
		line-height: 1.8rem;
		padding: .7rem 0;
		opacity: 0.8;
		margin: 0;
	}

	a {
		color: $white;
		&:hover {
			color: $grey-d8;
			text-decoration: none;
		}
	}

	@media screen and (max-width: 1109px) {
		dl {
			padding: 0;
			margin: 0 0 25px;
		}

		dt {
			font-size: 1.4rem;
			cursor: pointer;
			padding-right: 20px;
			position: relative;
			@include icon(icon_arrow_bottom);

			&:before {
				position: absolute;
				right: 0;
				top: 3px;
				font-size: 1.3rem;
			}
		}

		dd {
			display: none;
		}

		dl.js-opened {
			dd {
				display: block;
			}

			dt {
				@include icon(icon_arrow_top);
			}
		}
	}
}

.footer-contact {
	padding-bottom: 20px;
	
	.links {
		text-transform: uppercase;
		font-size: 1.4rem;
		white-space: nowrap;

		a {
			position: relative;
			padding: .2rem 0;

			&:before {
				position: absolute;
				top: 0;
				left: 0;
			}

			&.icon_call {
				padding-left: 3.5rem;
				&:before {font-size: 2.7rem;}
			}

			&.icon_mail {
				padding-left: 3.5rem;
				&:before {font-size: 2rem;}
			}

			&.icon_chat {
				padding-left: 4.5rem;
				&:before {font-size: 2.8rem;}
			}
		}

		@media screen and (max-width: 1109px) {
			margin-bottom: 10px;

			a {
				display: block;
				padding: 1.4rem 0 1.4rem 3.5rem !important;

				&:before {
					top: 1.1rem;
				}

				&.icon_chat:before {font-size: 2rem;}
			}
		}
	}

	.footer-socials {
		display: flex;
		margin: 0 0 0 30px;
		padding: 0;
		font-size: 3.3rem;

		li {
			display: inline-block;
			margin: 0 0 0 12px;
			padding: 0;
			line-height: 3.4rem;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	@media screen and (min-width: 1110px) {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	
		.links {
			display: flex;
			align-items: flex-start;
			margin-top: 20px;
			font-size: 1.6rem;
			line-height: 1.8rem;

			a {
				padding-right: 30px;

				&.icon_mail {
					font-size: 1.4rem;
				}
			}
		}

		.footer-socials {
			margin-top: 18px;
		}
	}


	@media screen and (max-width: 1109px) {
		.footer-socials {
			margin: 1.8rem 0 0;
		}
	}
}

.footer-newsletter {
	background: $blue-dark;
	padding: 1.3rem 1.8rem;
	border-radius: 2px;

	.title {
		font-size: 1.4rem;
		line-height: 1.8rem;
		margin: 0;
		padding: 0 0 1rem;

		span {
			opacity: 0.8;
		}

		strong {
			display: block;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	form {
		display: flex;
		flex-wrap: wrap;
		flex: 1 1 auto;
	}
	
	input[type="text"],
	input[type="email"] {
		border: none;
		margin-left: 0;
		width: calc(100% - 50px);
		height: 38px;
		line-height: 38px;
		box-sizing: border-box;
		padding: 0 10px;
		font-size: 1.4rem;
		border-radius: 5px 0 0 5px;
		order: 1;
	}

	button {
		background-color: $blue-marine;
		border: none;
		color: $white;
		height: 38px;
		line-height: 38px;
		padding: 0;
		width: 50px;
		border-radius: 0 5px 5px 0;
		order: 2;
	}

	.error {
		width: 100%;
		order: 3;
		padding-top: 3px;
	}

	@media screen and (min-width: 1110px) {
		display: flex;

		.title {
			padding: 0 1rem 0 0;
			flex: 0 0 110px;
			font-size: 1.3rem;
		}
	}

	@media screen and (max-width: 1109px) {
		padding-bottom: 2rem;

		.title strong {
			padding-bottom: .3rem;
		}
		
		input[type="text"],
		input[type="email"],
		button {
			height: 35px;
			line-height: 35px;
		}
	}
}

.footer-about {
	border-top: 1px solid $grey-alpha-32;
	padding: 26px 0 55px;
	margin-top: 20px;

	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.9rem;
	letter-spacing: -0.3px;

	@media screen and (min-width: 1110px) {
		display: flex;
		justify-content: space-between;
	}

	@media screen and (max-width: 1109px) {
		padding-bottom: 40px;

		a {
			display: block;
			margin: 0 0 1.2rem;
		}
	}
}

.footer-thirdpart {
	background: $white;
	color: $blue;

	a {
		color: $blue;
	}

	.layout-width {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logos {
		flex: 0 1 auto;
	}

	.customer-satisfaction {
		flex: 1 1 auto;
		margin: 0 20px;
	}

	.paymentmethods-allowed {
		flex: 0 1 auto;
		display: flex;

		img {
			margin-left: 5px;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	@media screen and (min-width: 1110px) {
		.layout-width {
			padding: 24px 0;
		}
	}

	@media screen and (max-width: 1109px) {
		.layout-width {
			flex-wrap: wrap;
			padding: 13px 2rem;
		}

		.paymentmethods-allowed {
			flex: 1 1 100%;
			justify-content: center;
			margin-top: 20px;
		}

		.customer-satisfaction {
			margin-right: 0;
		}
	}
}