#homepage-slider {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.home-bottom-slots {
	margin: auto;
	max-width: 960px;
	.home-bottom-left,
	.home-bottom-center,
	.home-bottom-right {
		clear: none;
		width: 100%;
		@media screen and (min-width: 960px) {
			float: left;
			width: 33.33333333333333333%;
		}
	}
}
