@font-face {
	font-family: "iconfont";
	$encodedSvg: encodeBase64("../../static/default/fonts/iconfont/iconfont.woff");
	/*src: url('data:application/x-font-woff;charset=utf-8;base64, #{$encodedSvg}');*/
 	src: url("../../fonts/iconfont/iconfont.woff"); 
 }

@mixin iconfont() {
	font-family: "iconfont";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == icon_30 {
		$char: "\ea01";
	}
	@if $filename == icon_account {
		$char: "\ea02";
	}
	@if $filename == icon_arrow_bottom {
		$char: "\ea03";
	}
	@if $filename == icon_arrow_left {
		$char: "\ea04";
	}
	@if $filename == icon_arrow_right-round {
		$char: "\ea05";
	}
	@if $filename == icon_arrow_right {
		$char: "\ea06";
	}
	@if $filename == icon_arrow_top {
		$char: "\ea07";
	}
	@if $filename == icon_bleaching {
		$char: "\ea08";
	}
	@if $filename == icon_box {
		$char: "\ea09";
	}
	@if $filename == icon_bullet {
		$char: "\ea0a";
	}
	@if $filename == icon_call {
		$char: "\ea0b";
	}
	@if $filename == icon_cart {
		$char: "\ea0c";
	}
	@if $filename == icon_cb {
		$char: "\ea0d";
	}
	@if $filename == icon_chat {
		$char: "\ea0e";
	}
	@if $filename == icon_check {
		$char: "\ea0f";
	}
	@if $filename == icon_chrono {
		$char: "\ea10";
	}
	@if $filename == icon_close {
		$char: "\ea11";
	}
	@if $filename == icon_delete {
		$char: "\ea12";
	}
	@if $filename == icon_delivery {
		$char: "\ea13";
	}
	@if $filename == icon_doc {
		$char: "\ea14";
	}
	@if $filename == icon_drycleaning {
		$char: "\ea15";
	}
	@if $filename == icon_egal {
		$char: "\ea16";
	}
	@if $filename == icon_embroidery {
		$char: "\ea17";
	}
	@if $filename == icon_fb {
		$char: "\ea18";
	}
	@if $filename == icon_info {
		$char: "\ea19";
	}
	@if $filename == icon_insta {
		$char: "\ea1a";
	}
	@if $filename == icon_ironing {
		$char: "\ea1b";
	}
	@if $filename == icon_location {
		$char: "\ea1c";
	}
	@if $filename == icon_lock {
		$char: "\ea1d";
	}
	@if $filename == icon_logo {
		$char: "\ea1e";
	}
	@if $filename == icon_loyalty {
		$char: "\ea1f";
	}
	@if $filename == icon_loyaltycard {
		$char: "\ea20";
	}
	@if $filename == icon_machine {
		$char: "\ea21";
	}
	@if $filename == icon_mail {
		$char: "\ea22";
	}
	@if $filename == icon_pin {
		$char: "\ea23";
	}
	@if $filename == icon_pin_logo {
		$char: "\ea24";
	}
	@if $filename == icon_pinterest {
		$char: "\ea25";
	}
	@if $filename == icon_plus {
		$char: "\ea26";
	}
	@if $filename == icon_return {
		$char: "\ea27";
	}
	@if $filename == icon_search {
		$char: "\ea28";
	}
	@if $filename == icon_services {
		$char: "\ea29";
	}
	@if $filename == icon_share {
		$char: "\ea2a";
	}
	@if $filename == icon_star {
		$char: "\ea2b";
	}
	@if $filename == icon_swap {
		$char: "\ea2c";
	}
	@if $filename == icon_time {
		$char: "\ea2d";
	}
	@if $filename == icon_twitter {
		$char: "\ea2e";
	}
	@if $filename == icon_unavailable {
		$char: "\ea2f";
	}
	@if $filename == icon_wishlist-draw {
		$char: "\ea30";
	}
	@if $filename == icon_wishlist {
		$char: "\ea31";
	}
	@if $filename == icon_wishlist_empty {
		$char: "\ea32";
	}
	@if $filename == icon_youtube {
		$char: "\ea33";
	}
	@if $filename == icon_zoom {
		$char: "\ea34";
	}
	@if $filename == icon_burger {
		$char: "\ea35";
	}
	@if $filename == icon-grid-view {
		$char: "\ea36";
	}
	@if $filename == icon_arrow_back {
		$char: "\ea37";
	}
	
	@return $char;
}

@mixin icon($filename, $insert: before) {
	&:#{$insert} {
		@include iconfont();
		content: icon-char($filename);
	}
}

.icon_30 {
	@include icon(icon_30);
}
.icon_account {
	@include icon(icon_account);
}
.icon_arrow_bottom {
	@include icon(icon_arrow_bottom);
}
.icon_arrow_left {
	@include icon(icon_arrow_left);
}
.icon_arrow_right-round {
	@include icon(icon_arrow_right-round);
}
.icon_arrow_right {
	@include icon(icon_arrow_right);
}
.icon_arrow_top {
	@include icon(icon_arrow_top);
}
.icon_bleaching {
	@include icon(icon_bleaching);
}
.icon_box {
	@include icon(icon_box);
}
.icon_bullet {
	@include icon(icon_bullet);
}
.icon_call {
	@include icon(icon_call);
}
.icon_cart {
	@include icon(icon_cart);
}
.icon_cb {
	@include icon(icon_cb);
}
.icon_chat {
	@include icon(icon_chat);
}
.icon_check {
	@include icon(icon_check);
}
.icon_chrono {
	@include icon(icon_chrono);
}
.icon_close {
	@include icon(icon_close);
}
.icon_delete {
	@include icon(icon_delete);
}
.icon_delivery {
	@include icon(icon_delivery);
}
.icon_doc {
	@include icon(icon_doc);
}
.icon_drycleaning {
	@include icon(icon_drycleaning);
}
.icon_egal {
	@include icon(icon_egal);
}
.icon_embroidery {
	@include icon(icon_embroidery);
}
.icon_fb {
	@include icon(icon_fb);
}
.icon_info {
	@include icon(icon_info);
}
.icon_insta {
	@include icon(icon_insta);
}
.icon_ironing {
	@include icon(icon_ironing);
}
.icon_location {
	@include icon(icon_location);
}
.icon_lock {
	@include icon(icon_lock);
}
.icon_logo {
	@include icon(icon_logo);
}
.icon_loyalty {
	@include icon(icon_loyalty);
}
.icon_loyaltycard {
	@include icon(icon_loyaltycard);
}
.icon_machine {
	@include icon(icon_machine);
}
.icon_mail {
	@include icon(icon_mail);
}
.icon_pin {
	@include icon(icon_pin);
}
.icon_pin_logo {
	@include icon(icon_pin_logo);
}
.icon_pinterest {
	@include icon(icon_pinterest);
}
.icon_plus {
	@include icon(icon_plus);
}
.icon_return {
	@include icon(icon_return);
}
.icon_search {
	@include icon(icon_search);
}
.icon_services {
	@include icon(icon_services);
}
.icon_share {
	@include icon(icon_share);
}
.icon_star {
	@include icon(icon_star);
}
.icon_swap {
	@include icon(icon_swap);
}
.icon_time {
	@include icon(icon_time);
}
.icon_twitter {
	@include icon(icon_twitter);
}
.icon_unavailable {
	@include icon(icon_unavailable);
}
.icon_wishlist-draw {
	@include icon(icon_wishlist-draw);
}
.icon_wishlist {
	@include icon(icon_wishlist);
}
.icon_wishlist_empty {
	@include icon(icon_wishlist_empty);
}
.icon_youtube {
	@include icon(icon_youtube);
}
.icon_zoom {
	@include icon(icon_zoom);
}
.icon_burger {
	@include icon(icon_burger);
}
.icon-grid-view {
	@include icon(icon-grid-view);
}
.icon_arrow_back {
	@include icon(icon_arrow_back);
}