.mini-cart-total {
	position: relative;
	text-align: center;

	.mini-cart-link {
		color: $blue;
		text-transform: uppercase;

		.minicart-icon {
			font-style: normal;
			display: inline-block;
			position: relative;
		}

		.minicart-quantity {
			background-color: $white;
			border-radius: 10px;
			color: $white;
			padding: 0 4px;
			min-width: 15px;
			height: 1.5rem;
			font-size: 1.2rem;
			font-weight: 500;
			line-height: 1.5rem;
			position: absolute;
			right: -7px;
			top: 0;
			text-align: center;
			box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.15);
		}

		.value {
			display: block;
			font-size: 1.4rem;
			line-height: 1.8rem;
			font-weight: 700;
			color: $grey-72;
			margin-top: 8px;

			@media screen and (max-width: 1109px) {
				display: none;
			}
		}
	}

	@media screen and (max-width: 1109px) {
		.value {
			display: none;
		}
	}
}

#mini-cart {
}

.mini-cart-content {
	@media screen and (max-width: 1109px) {
		display: none;
	}

	@media screen and (min-width: 1110px) {
		background-color: $white;
		width: 355px;
		border-radius: 3px;
		box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.17);
		margin-top: 20px;
		opacity: 0;
		position: absolute;
		right: 0;
		visibility: hidden;
		z-index: 20;
		transition: all 0.3s ease;
		line-height: normal;
	
		#mini-cart.active & {
			opacity: 1;
			visibility: visible;
		}
	}
}

.mini-cart-header {
	font-size: 1.1em;
	font-weight: 700;
	padding: 1em 1em 0.5em;
	text-transform: uppercase;
}

.mini-cart-products {
	max-height: 360px;
	padding: 0.5em;
	overflow: auto;
}

.mini-cart-product {
	border-bottom: 1px solid $pink-red;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
	&:last-of-type {
		border: none;
	}
	&.collapsed {
		.mini-cart-name,
		.mini-cart-attributes,
		.mini-cart-pricing,
		.product-availability-list {
			width: 90%;
		}
		.mini-cart-image {
			display: none;
		}
	}
	.mini-cart-toggle {
		cursor: pointer;
		font-size: 1.5em;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.mini-cart-image {
	float: left;
	width: 50%;
	img {
		max-width: 90%;
	}
}

.mini-cart-name {
	float: right;
	font-style: italic;
	width: 50%;
}

.mini-cart-attributes,
.mini-cart-product .product-availability-list {
	float: right;
	font-size: 0.9em;
	font-weight: bold;
	width: 50%;
}

.mini-cart-pricing {
	clear: right;
	float: right;
	font-size: 0.9em;
	width: 50%;
}

.mini-cart-totals {
	text-align: center;
	button,
	.button {
		// the following 3 properties height, line-height and overflow
		// are needed to align the 2 buttons
		height: 30px;
		line-height: 1;
		overflow: inherit;
	}
}

.mini-cart-subtotals {
	font-weight: 700;
	margin: 0 auto;
	padding-top: 0.5em;
	width: 16rem; //for IE
	width: max-content;
	.label {
		margin: 0 0.5rem;
	}
	.value {
		margin-right: 0.5rem;
	}
}

.mini-cart-slot {
	background: none repeat scroll 0 0 $white;
	border: 1px solid $pink-red;
	font-size: 0.9em;
	font-style: italic;
	margin: 1em 1em;
}

.mini-cart-link-checkout {
	clear: both;
	display: block;
	margin: 1em 0;
	text-align: center;
}
