#wrapper {
	&.pt_categorylanding {
		.primary-content {
			padding-bottom: 0;
			@media screen and (min-width: 768px) {
				width: 80%;
			}
		}
		.refinements {
			border-right: 0;
			display: none;
			width: 0;
			@media screen and (min-width: 768px) {
				display: block;
				width: 20%;
			}
		}
	}
	&.pt_product-details {
		.primary-content {
			padding-top: 1rem;
		}
	}
}

.primary-content {
	width: 100%;
	@media screen and (min-width: 1110px) {
		float: right;
		padding: 0 0 20px;
		position: relative;
		width: 74%;
		.primary-focus & {
			border: none;
			float: left;
			margin: 0;
			width: 76%;
		}
		.full-width & {
			border: none;
			width: 100%;
		}
	}
}

#secondary {
	border: 0;
	float: none;
	font-size: 1.1em;
	width: 100%;
	@media screen and (min-width: 1110px) {
		float: left;
		width: calc(26% - 29px);
		position: relative;
		margin: 16px 29px 0 0;
		nav {
			padding-left: 10px;
			padding-right: 10px;
			a {
				display: block;
			}
		}
		.primary-focus & {
			background: none;
			border: none;
			box-sizing: border-box;
			float: left;
			padding-left: 0.4rem;
			width: 24%;
		}
	}
	// Remove Refinements for responsive design
	.pt_content-search-result &,
	.pt_order & {
		display: none;
		@media screen and (min-width: 1110px) {
			display: block;
		}
	}
}

.secondary-content {
	clear: both;
}
