.product-tile {
	@extend %clearfix;
	color: $grey-72;
	position: relative;
	text-align: center;
	padding-bottom: 9px;
	box-shadow: 0 2px 8px 4px rgba(121,121,121,0.05);
	border: 1px solid $grey-e4;
	border-radius: 2px;
	box-sizing: border-box;
	
	.wide-tiles & {
		padding-bottom: 11px;
		border-radius: 3px;
		box-shadow: 0 3px 10px 5px rgba(121,121,121,0.05);
		.wishlist {
			top: 8px;
			font-size: 1.5rem;
		}
	
		.product-name a {
			@include header-7;
		}
		
		.product-review {
			font-size: .8rem;
			margin-bottom: 8px;
		}
	}
	
	img {
		width: 100%;
	}
	
	.wishlist {
		position: absolute;
		top: 7px;
		right: 9px;
		z-index: 1;
		a {
			padding: 0;
			background-color: transparent;
			color: inherit;
			font-size: 1.1rem;
			line-height: 1.1rem;
			@include icon(icon_wishlist_empty);
			&.in-wishlist {
				@include icon(icon_wishlist);
			}
		}
	}

	.product-image {
		height: auto;
		position: relative;
		padding: 0;
		.flags,
		.marketing,
		.commercial {
			position: absolute;
			overflow: hidden;
		}
		.flags {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			pointer-events: none;
			.marketing {
				height: 24px;
				width: 36px;
				left: 8px;
				top: 10px;
			}
			.commercial {
				right: 0;
				top: 30px;
				width: 40px;
				height: 24px;
			}
		}
	}

	.product-name,
	.price-copy,
	.product-review,
	.product-pricing,
	.product-promo {
		padding: 0 9px 0 12px;
	}

	.product-name {
		margin-top: 4px;
		height: 3rem;
		overflow: hidden;
		a {
			@include title-6;
		}
	}

	.price-copy {
		@include copy-2;
	}

	.product-pricing {
		display: flex;
		justify-content: center;
		@include header-4;
		.product-standard-price {
			padding-left: 7px;
			text-decoration: line-through;
			order: 1;
			align-self: flex-end;
			@include copy-6;
			& + .product-sales-price {
				color: $red;
			}
		}
	}
	.grid-tile & .product-swatches {
		float: right;
	}
	.product-swatches-all {
		cursor: pointer;
		font-size: 0.9em;
	}
	.product-swatches {
		ul {
			list-style: none outside none;
			margin: 0;
			overflow: hidden;
			padding: 0;
			&.swatch-toggle {
				background: none repeat scroll 0 0 $white;
				display: none;
				position: absolute;
			}
		}
		display: none;

		&:hover ul.swatch-toggle {
			display: block;
		}
		li {
			float: left;
		}
		.swatch {
			display: block;
			width: 16px;
			img {
				border: 1px solid $white;
				height: 12px;
				padding: 1px;
				width: 12px;
			}
		}
		.selected img, img:hover {
			border-color: $blue;
		}
	}
	.product-promo {
		font-size: 0.8em;
		margin: 0.5em 0;
		text-transform: uppercase;
		display: none;
	}
	.product-compare {
		float: left;
		line-height: 11px;
		label {
			font-weight: 400;
			line-height: 1;
			padding: 0 0 0 .5em;
			width: auto;
		}
		input {
			float: left;
			margin: 0;
		}
	}
	.product-review {
		font-size: .6rem;
		.rating {
			display: inline-block;
		}
	}
	
	.quickview {
		display: none;
		position: absolute;
		bottom: 8px;
		right: 10px;
		a {
			@include icon(icon_cart);
			&::before {
				color: $blue-marine;
				font-size: 2.6rem;
			}
		}
	}
	
	&:hover {
		.quickview {
			display: block;
		}
	}
	
	@media screen and (min-width: 1110px) {
		padding-bottom: 13px;
		.product-name,
		.price-copy,
		.product-review,
		.product-pricing,
		.product-promo {
			padding: 0 13px 0 12px;
		}
		
		.wishlist {
			top: 9px;
			a {
				font-size: 1.5rem;
				line-height: 1.5rem;
			}
		}
		
		.product-name a {
			@include header-7;
		}
	
		.product-review {
			font-size: .7rem;
			margin: 8px 0 16px;
		}
	
		.product-pricing {
			@include title-17;
			.product-standard-price + .product-sales-price {
				font-size: 1.8rem;
			}
		}
	}
}

.capture-product-id {
	left: -999em;
	position: absolute;
}
