.reinsurance-wrapper {
    padding: 53px 0;
    clear: both;
}

.reinsurance-container {
    width: 100%;
    position: relative;

    &:after, &:before {
        background-color: $blue;
        position: absolute;
        left: 0;
        width: 100%;
        height: 20px;
        content: '';
        display: block;
        z-index: -1;
    }

    &:before {
        top: 36px;
    }

    &:after {
        bottom: 36px;
    }

    @media screen and (max-width: 1109px) {
        &:before {
            top: 35%;
        }

        &:after {
            bottom: 36%;
        }
    }
}

.reinsurance-block {
    background-color: $white;
    box-shadow: 2px -1px 14px 7px rgba(121, 121, 121, 0.08);
    height: 154px;
    display: flex;
    padding: 0;

    @media screen and (max-width: 1109px) {
        padding: 25px 0 28px;
        background-color: $white-alpha-97;
        margin-left: 2rem;
        margin-right: 2rem;
        height: auto;
        display: block;
    }
}

.rb-item {
    width: 100%;
    padding: 27px 0 26px;
    @extend %clearfix;

    .icon,
    .title,
    .desc {
        width: 100%;
        text-align: center;
    }

    .icon {
        color: $blue-marine;
        font-size: 4.7rem;
        display: block;
    }

    .title {
        @include font(1.8rem, bold, -0.45px, $blue);
        line-height: 2.3rem;
        margin-bottom: 3px;
    }

    .desc {
        @include font(1.4rem, normal, normal, $blue);
        line-height: 1.8rem;
    }

    @media screen and (max-width: 1109px) {
        padding: 0 53.8px;
        box-sizing: border-box;

        &:not(:first-child) {
            margin-top: 23px;
        }

        .icon {
            width: 40px;
            float: left;
            margin-right: 15px;
        }

        .icon_embroidery {
            font-size: 3.6rem;
        }

        .icon_delivery {
            font-size: 2.5rem;
        }

        .icon_services {
            font-size: 2.8rem;
        }

        .icon_loyalty {
            font-size: 1.95rem;
            height: 19px;
        }

        .text {
            float: left;
        }

        .title,
        .desc {
            width: auto;
            text-align: left;
        }

        .title {
            margin-bottom: 2px;
            @include font(1.4rem, bold, -0.35px, $blue);
            line-height: 1.8rem;
        }

        .desc {
            @include font(1.1rem, noraml, normal, $blue);
        }
    }
}

.cat-seo-block {
    margin-top: 31px;

    @media screen and (max-width: 1109px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .title {
        margin-bottom: 8px;
        @include font(2.2rem, 500, -0.59px, $blue-marine);
    }

    .description {
        @include font(1.2rem, normal, -0.32px, $grey-88);
        line-height: 1.5rem;
    }
}