.pt_product-search-result {
	.category-name,
	.category-description {
		padding: 0 5px;
	}

	.category-name {
		@include header-5;
		margin-bottom: 4px;
	}

	.category-description {
		@include copy-3;
	}

	.primary-content h1.content-header {
    	padding-left: 15px;
	}
}

.pt_content-search-result,
.pt_product-search-noresult {
    .primary-content {
        > h1,
        > h2,
        > p {
            margin: 0;
            padding: .1rem 1%;
        }
        .no-hits-help,
        .no-hits-search,
        .no-hits-footer {
            padding: .1rem 1%;
        }
        .pagination {
            float: none;
            padding: .1rem 1%;
        }
    }
}

.category-main-banner img {
    max-width: 100%;
}

.no-hits-search-term,
.no-hits-search-term-suggest {
    color: $red;
    font-style: italic;
}

.no-hits-footer {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
    margin: 20px 0;
    padding: 20px 0;
}

.search-result-bookmarks {
    margin: 15px;
    .first {
        border-right: 1px solid $grey-72;
        padding-right: 5px;
    }
}

.search-result-options {
    padding: 1.4rem 0 1.5rem;
    border-bottom: 1px solid $grey-e4;
    display: flex;
    justify-content: space-between;

   	.filter-controll {
   		display: flex;
   		text-transform: uppercase;
   		position: relative;
   		width: 100%;
   		& > div {
   			padding: 5px 10px 3px 11px;
   			@include header-6;
   			&:hover {
   				cursor: pointer;
   			}
   		}
   		.filter {
   			border-left: none;
   			padding-left: 5px;
   		}

   		.sort-title,
   		.product-count,
		.news {
   			display: none;
   		}

   		.view,
		.news {
   			position: relative;
   			@include icon(icon_arrow_bottom);
   			&:before {
   				position: absolute;
   				right: -14px;
   				top: 8px;
   				color: $blue-light;
   			}
   			ul {
   				position: absolute;
   				list-style: none;
   				margin: 0;
   				padding: 12px 30px 7px 14px;
   				box-shadow: 0 3px 10px 5px rgba(121,121,121,0.05);
   				border: 0.74px solid $grey-e4;
   				border-radius: 3px;
   				display: none;
				left: -25px;
				background: $white;
				z-index: 2;
				@include title-8;
				li {
					width: max-content;
					margin-bottom: 10px;
					&.selected {
						font-weight: bold;
						@include icon(icon_check);
						&::before {
							position: absolute;
							right: 10px;
							line-height: 1.1rem;
							font-size: 1rem;
						}
					}
				}
   			}
   		}
   	
   		.sort-by fieldset {
   			position: relative;
   			label {
   				font-weight: 500;
   			}
   			select {
	   			position: absolute;
	   			top: 0;
	   			opacity: 0;
	   			width: 100%;
	   		}
	   	}
   	}

   	.filter-controll div,
   	.grid-view-controll {
   		border-left: 1px solid $grey-4a;
   	}

   	.grid-view-controll {
   		padding: 5px 0 3px 8px;
   		display: flex;
   		align-items: center;
   		& > div {
   			width: 18px;
   			height: 18px;
   			border-radius: 1px;
   			&.normal-grid {
   				font-size: 17px;
   				color: $grey-df;
   				margin-right:5px;
   				@include icon(icon-grid-view);
   				&.selected {
	   				color: $blue-marine;
	   			}
   			}

   			&.wide-grid {
   				background: $grey-df;
   				&.selected {
   					background: $blue-marine;
   				}
   			}

   			&:hover {
   				cursor: pointer;
   			}
   		}
   	}

}

.search-result-items {
    margin: 6px 0 13px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li {
        list-style: none outside none;
    }
    .new-row {
        clear: both;
    }
    .grid-tile {
        margin-bottom: 5px;
        box-sizing: border-box;
        width: calc(50% - 2.5px);
    }

    .invisible {
        display: none;
    }
   	.view-more-list {
   		width: 100%;
   		text-align: center;
   		margin-top: 25px;
   		button {
   			background: $blue;
   			border-radius: 5px;
   			color: $white;
   			font-size: 1.4rem;
   			font-weight: bold;
   			line-height: 2.3rem;
   			&:hover {
   				background: $blue;
   				color: $white;
   			}
   		}
   	}
}

#slide-top-button {
	display: none;
	height: 31px;
	width: 36px;
	border-radius: 2px 0 0 2px;
	background: $blue;
	@include icon(icon_arrow_top);
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 2;
	&::before {
		font-size: 1.4rem;
		line-height: 3.8rem;
		display: block;
		text-align: center;
		color: $white;
	}
	&:hover {
		cursor: pointer;
	}
}

@media screen and (max-width: 1109px) {
	.search-result-items .grid-tile {
        &:nth-child(odd) {
        	margin-right: 2.5px;
        }
       	&:nth-child(even) {
       		margin-left: 2.5px;
       	}
	}
}

@media screen and (min-width: 1110px) {
	.pt_product-search-result {
		.category-name,
		.category-description {
			padding: 0;
		}

		.category-description {
			@include copy-5;
		}
	}

	.search-result-options {
		padding-bottom: 10px;
		.grid-view-controll,
		.filter, 
		.sort,
		.sort-by fieldset {
			display: none;
		}

		.filter-controll {
			.product-count,
			.sort-title,
			.news {
				display: block;
			}

			.view,
			.news {
				padding-right: 25px;
				border-left: none;
				&::before {
					right: 0;
				}
				ul {
					left: -14px;
					padding-right: 60px;
				}
			}
			
			.news::before {
				top: 4px;
			}
			
			.sort-title {
				@include title-9;
				margin-right: 5px;
				padding-left: 0;
			}

			.product-count {
				margin-left: auto;
				@include copy-4;
				padding-right: 0;
				text-transform: none;
			}

			& > div {
				border-left: none;
				padding-left: 0;
			}

			.view {
				margin-left: 45px;
			}
		}
	}

	.search-result-content {
		margin-top: 15px;
		.product-count {
			display: none;
		}
	}

	.search-result-items {
		.grid-tile {
			width: calc(25% - 20px);
			margin-right: 26px;
			&:nth-child(4n) {
				margin-right: 0;
			}
		}

		.view-more-list {
			margin-top: 18px;
		}
	}
}

.search-result-content {
    clear: both;
    .product-count {
   		text-align: center;
   		@include title-7;
   	}

   	&.wide-tiles .grid-tile {
   		width: 100%;
   		&:nth-child(odd),
		&:nth-child(even) {
   			margin: 0 0 5px;
   		}
   	}

    .product-price {
        .price-standard {
            color: #999;
            font-weight: 100;
            text-decoration: line-through;
        }
    }
}

.search-promo {
    padding: 20px;
}

#results-content {
    background: url("../images/interface/icon-double-line-header.png") repeat-x scroll left top transparent;
    padding-top: 30px;
}

.folder-content-list {
    align-items: stretch;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    padding: .5rem 1%;
    li {
        background-color: $white;
        border: 1px solid $grey-d8;
        flex-basis: 100%;
        flex-grow: 1;
        list-style-type: none;
        margin: .25rem;
        padding: 1rem;
        @media screen and (min-width: 480px) {
            flex-basis: 40%;
        }
    }
    p {
        line-height: 1.1rem;
    }
    .content-title {
        display: block;
        font-size: 1.2rem;
    }
    .readmore {
        font-style: italic;
        padding-left: .3rem;
    }
}

.no-results {
    padding: 20px;
}
