.search-suggestion-wrapper {
	@extend %clearfix;
	background-color: $white;
	box-shadow: 0 12px 14px 0 rgba(0,0,0,0.2);
	position: absolute;
	z-index: 104;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 16px 0 68px;
	display: none;
	
	.header {
		text-transform: uppercase;
		@include header-1;
	}

	input[type='text'] {
		border: 0;
		background: $grey-ef;
		border-radius: 8px;
		margin: 0;
		padding: 0 1rem 0 4rem;
		height: 3.7rem;
		width: 100%;
		color: $blue;
		font-size: 1.4rem;
		letter-spacing: 0.05rem;
		font-weight: 700;
		outline: 0;

		@media screen and (min-width: 1110px) {
			border-radius: 10px;
			font-size: 1.8rem;
		}
	}

	button {
		display: none;
		background-color: transparent;
		border: none;
		color: $grey-72;
		padding: 0.7em 0.5em;
		&:hover {
			color: $blue;
		}
		i {
			font-size: 1.4em;
		}
	}
	
	.suggests-search {
		@include icon(icon_search);
		position: relative;
		&::before {
			position: absolute;
			color: $blue;
			top: 50%;
			left: 1.5rem;
			transform: translateY(-50%);
			font-size: 1.8rem;
		}
	
		.back-button {
			@include icon(icon_arrow_left);
			font-size: 1.5rem;
			height: 1.5rem;
			color: $white;
			margin-right: 8px;
		}
	
		.clear-search-input {
			@include icon(icon_close);
			position: absolute;
			height: 1rem;
			font-size: 1rem;
			color: $grey-88;
			right: 23px;	
		}
	
		.back-button,
		.clear-search-input {
			&:hover {
				cursor: pointer;
			}
		}
		
	}
	
	.search-phrase {
		.completed,
		.corrected {
			font-weight: bold;
			color: $blue;
		}
		padding: 16px 16px 21px;
		@include title-1;
		a {
			@include header-1;
		}
	}
	
	.product-suggestions .header {
		margin: 0 0 6px 8px;
		@include header-3;
	}
	
	.product-suggestion {
		@extend %clearfix;
		border-bottom: 2px solid rgba($grey-97, 0.52);
		padding: .5em;
		&:first-child {
			margin-top: 25px;
		}
		
		.product-link {
			display: flex;
			align-items: center;
			
			.product-image {
				width: 100px;
				margin-right: 20px;
				img {
					vertical-align: middle;
					max-width: 100%;
				}
			}
		
			.product-details {
				width: 70%;
				.product-name {
					@include title-2;
				}
				.price-copy {
					@include copy-1;
				}
				.product-price {
					@include title-3;
					.salesprice {
						color: $red;
					}
				}
			}
		}
	}
	
	.show-more-suggests {
		@include header-2;
		margin: 13px 0 29px;
		display: block;
	}
	
	.category-suggestions .hit {
		@include title-5;
		display: block;
	}
	
	.content-suggestions {
		width: 100%;
		float: left;
		.hit {
			position: relative;
			border: 1px solid $grey-97;
			border-radius: 3px;
			padding: 12px 11px 12px 10px;
			@include icon(icon_arrow_right);
			&:not(:last-child) {
				margin-bottom: 10px;
			}
			&::before {
				right: 10px;
				top: 16px;
				position: absolute;
				font-size: 1.5rem;
				color: $blue-light;
			}
			a {
				position: relative;
				@include title-4;
			}
		}
	}
	
	@media screen and (max-width: 1109px) {
		border: none;
		height: 100vh;
		overflow: auto;
		padding: 0;
		
		.product-suggestions {
			padding: 0 8px;
		}
		
		.phrase-suggestions,
		.content-suggestions {
			padding: 0 16px;
		}
		
		.product-suggestions .show-more-suggests {
			text-align: center;
		}

		.suggests-search {
			padding: 12px;
			background-color: $blue;
			display: flex;
			align-items: center;
			& > form {
				width: 100%;
				input {
					padding-left: 1.7rem;	
				}
			}
			&::before {
				content: '';
			}
		}
	}

	@media screen and (min-width: 1110px) {
		padding: 22px 43px 38px;
		width: 1110px;
		transform: translateX(-50%);
		left: 50%;
		top: 40px;
		
		.header {
			margin: 18px 0 19px;
		}
		
		.back-button, 
		.clear-search-input {
			display: none;
		}
		
		.search-phrase {
			@include header-9;
			padding: 36px 0 0;
		}
		
		.product-suggestions, 
		.content-suggestions,
		.phrase-suggestions {
			float: left;
		}
	
		.product-suggestions {
			margin-right: 30px;
		}
	
		&.full {
			.phrase-suggestions {
				width: 320px;
			}
			.product-suggestions {
				width: 350px;
				margin-right: 54px;
				.header {
					@include title-15;
					margin: 18px 0 19px;
				}
				.show-more-suggests {
					@include header-2;
					margin: 13px 0 0;
					display: block;
				}
			}
		}
		
		.category-suggestions {
			.header {
				margin-bottom: 17px;
			}
		
			.hit {
				@include title-16;
			}
		}
	
		.content-suggestions {
			width: 265px;
			.hit a {
				@include title-4;
			}
		}
	}
}
