#category-level-1 {
	li {
		color: $grey-72;
		display: block;
		.refinement-link {
			background: none repeat scroll 0 0 transparent;
			padding: 0 0 0 1rem;
		}
		&.expandable {
			.refinement-link {
				padding: 0 0 0 .4rem;
			}
			.active {
				font-weight: bold;
				padding: 0 0 0 .2rem;
			}
		}
	}
}

#category-level-2 {
	a {
		&.active {
			color: $grey-44;
			font-weight: 700;
		}
		&.refinement-link {
			margin: 0 0 0 .4rem;
			padding: 0;
		}
	}
}
#category-level-2 {
	padding: .5rem .1rem 0 .7rem;
}
#category-level-3 {
	padding: .3rem 0 0;
	a {
		&.refinement-link {
			font-style: normal;
			margin: 0 0 0 .9rem;
			padding: 0;
		}
		&.active {}
	}
}

.refinements {
	padding: 13px 10px 23px;
	box-shadow: 0 16px 34px 7px rgba(121,121,121,0.1);
	border-radius: 4px;
	background-color: $white;
	box-sizing: border-box;
}

.refinement {
	padding: 0 5px 6px;
	position: relative;
	&:not(:last-child) {
		border-bottom: 1px solid $grey-97;	
	}
	// Hide Refinements on Category Landing Pages
	.pt_categorylanding & {
   		display: none;
   		&.category-refinement {
   			display: block;
   		}
   	}
   	
   	.clear-refinement {
   		display: none;
   	}
   	
	h3 {
		margin: 0 0 5px;
		padding: 10px 0 0;
		@include header-8;
		.ie7 & {
			clear: both;
		}
		i {
			float: right;
			padding-top: 5px;
			color: $grey-df;
			transform: rotate(180deg);
			&::before {
				vertical-align: middle;
			}
		}
		&.expanded i {
			transform: rotate(0);
		}
	}

	ul {
		list-style: none outside none;
		margin: 5px 0 0;
		padding: 0;
		li {
			padding: .5rem;
			i {
				color: $pink-red;
			}
			&.selected {
				i {
					color: $blue;
				}
			}
		}
		&.swatches li {
			float: left;
			padding: 5px;
			box-sizing: border-box;
			width: 33.33%;
			a {
				border: 1px solid $grey-72;
				border-radius: .3rem;
				display: block;
				padding: 0.7rem 0 1rem;
				text-align: center;
				@include title-12;
			}
			&.selected a {
				font-weight: bold;
			}
			&.unselectable a {
				background-image: url("../images/interface/icon-color-swatch-unselectable.png");
				background-position: right top;
			}
		}
		&.refinementColor li a {
			height: 23px;
			padding: 0;
			text-indent: -999rem;
			width: 30px;
		}
	}
	.clear-refinement {
		font-weight: bold;
   		padding: 0 1.05rem 0.4rem;
	}
	.refinement-link {
		border: 0 none;
	}
	.selected .refinement-link {
		background-position: left bottom;
	}
	.refinement-top-level {
		padding: 1rem;
	}
	

	.nouislider {
		margin: 20px 19px 50px 9px;
		height: 9px;
		border: none;
		.noUi-handle {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			top: -8px;
			background: $white;
			border: 1px solid $blue-marine;
			&::before,
			&::after {
				display: none;
				content: '';
			}
			&:hover {
				cursor: pointer;
			}
		}
		.noUi-tooltip {
			bottom: -100%;
			padding: 0;
			border: none;
			@include title-13;
		}
		.noUi-connect {
			background-image: repeating-linear-gradient(90deg, $blue-marine, $blue-marine 8px, $white 9px, $white 11px);
		}
		.noUi-connects {
			background-image: repeating-linear-gradient(90deg, $grey-e1, $grey-e1 8px, $white 9px, $white 11px);
		}
	}

	&.PB_isVPproduct {
		display: flex;
		align-items: center;
		padding-top: 24px;
		h3 {
			padding: 0;
			margin: 0;
		}
		#personnalisableCheckbox {
			margin-right: 12px;
			border-radius: 3px;
			width: 22px;
			height: 22px;
			border: 1px solid $grey-97;
			background-color: $white;
			position: relative;
			a {
				display: none;
			}
			&.selected {
				@include icon(icon_check);
				&::before {
					position: absolute;
					top: 4px;
					left: 3px;
				}
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	
	&.color {
		ul.swatches li {
			width: 40px;
			height: 40px;
			box-sizing: content-box;
			a {
				padding: 0;
				border-radius: 10px;
				overflow: hidden;
				border: none;
				line-height: 1rem;
				img {
					width: 100%;
				}
			}
		}
	}
}

.scrollable {
	height: 10rem;
	overflow: auto;
}

.nav {
	ul {
		border: 0 none;
		list-style: none outside none;
		margin: .58rem 0;
		padding: 0;
		li {
			list-style: none outside none !important;
			margin: 0 0 .58rem !important;
		}
	}
	.toggle {
		border: 0 none;
		display: block;
		font-size: 1rem;
		font-weight: 700;
		margin: .83rem 0 .58rem;
		text-transform: uppercase;
		span {
			background: none repeat scroll 0 0 transparent;
		}
	}
	.expanded {
		background-position: left -96px;
	}
}
