// PB colors
$black:				#000;
$white:				#fff;
$blue:				#15284b;
$blue-dark:			#001f43;
$blue-marine:		#002d5f;
$blue-light:		#1366da;
$blue-product-name: #0E3453;
$blue-extralight:	#f4f9ff;
$red:				#c22032;
$pink-red:			#ff094e;
$gold:				#ffce00;
$gold-light:		#f6cb1c;
$green:				#0fa35f;
$brown:				#1E2226;
$grey-44:			#444;
$grey-4a:			#4a4a4a;
$grey-72:			#727272;
$grey-88:			#888;
$grey-97:			#979797;
$grey-a6:			#a6a6a6;
$grey-d8:			#d8d8d8;
$grey-df:			#dfdfdf;
$grey-e4:			#e4e4e4;
$grey-ef:			#efefef;
$grey-f7:			#f7f7f7;
$grey-alpha-32:		rgba(164, 169, 173, 0.32);
$white-aplha-60:	rgba(255, 255, 255, 0.6);
$white-alpha-97:	rgba(255, 255, 255, 0.97);
$grey-e1: 			#f7f7f7;


// fonts
$quicksand: Quicksand, sans-serif;


// mixins
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin layoutWidth() {
	width: auto;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 100%;
	box-sizing: border-box;
	@media (min-width: 1110px) {
		width: 1110px;
	}
}

@mixin font($size:null, $weight:null, $letter-spacing:null, $color:null, $line-height:null) {
	@if ($size) {
		font-size: $size;
	}
	@if ($weight) {
		font-weight: $weight;
	}
	@if ($letter-spacing) {
		letter-spacing: $letter-spacing;
	}
	@if ($color) {
		color: $color;
	}
	@if ($line-height) {
		line-height: $line-height;
	}
}

@mixin header-1 {
	@include font(1.6rem, bold, -0.06rem, $blue, 2rem);
}

@mixin header-2 {
	@include font(1.4rem, bold, -0.05rem, $blue-light, 1.8rem);
}

@mixin header-3 {
	@include font(1.4rem, bold, -0.05rem, $blue, 1.8rem);
}

@mixin header-4 {
	@include font(1.4rem, bold, normal, $grey-72, 1.8rem);
}

@mixin header-5 {
	@include font(2.3rem, 500, normal, $blue-product-name, 2.3rem);
}

@mixin header-6 {
	@include font(1.4rem, 500, normal, $blue-marine, 1.8rem);
}

@mixin header-7 {
	@include font(1.3rem, 500, normal, $blue-product-name, 1.4rem);
}

@mixin header-8 {
	@include font(1.5rem, 500, normal, $grey-4a, 1.9rem);
}

@mixin header-9 {
	@include font(1.8rem, normal, -0.07rem, $blue, 2.3rem);
}

@mixin title-1 {
	@include font(1.6rem, normal, -0.06rem, $blue, 2rem);
}

@mixin title-2 {
	@include font(1.3rem, 500, normal, $blue, 2rem);
}

@mixin title-3 {
	@include font(1.8rem, bold, normal, $grey-72, 2.3rem);
}

@mixin title-4 {
	@include font(1.8rem, bold, normal, $blue-marine, 2.2rem);
}

@mixin title-5 {
	@include font(1.4rem, bold, normal, $blue, 3.7rem);
}

@mixin title-6 {
	@include font(1.2rem, 500, normal, $blue-product-name, 1.4rem);
}

@mixin title-7 {
	@include font(1.2rem, 200, normal, $grey-a6, 1.5rem);
}

@mixin title-8 {
	@include font(1.2rem, 200, normal, $blue-marine, 1.5rem);
}

@mixin title-9 {
	@include font(1.4rem, bold, normal, $grey-97, 1.8rem);
}

@mixin title-10 {
	@include font(1.2rem, bold, normal, $blue-marine, 0.8rem);
}

@mixin title-11 {
	@include font(1.1rem, bold, normal, $blue-marine, 0.8rem);
}

@mixin title-12 {
	@include font(1.2rem, normal, normal, $blue, 1.5rem);
}

@mixin title-13 {
	@include font(1.4rem, normal, normal, $grey-4a, 1.8rem);
}

@mixin title-15 {
	@include font(1.6rem, bold, -0.06rem, $grey-4a, 2rem);
}

@mixin title-16 {
	@include font(1.4rem, 500, normal, $blue, 3rem);
}

@mixin title-17 {
	@include font(1.6rem, bold, normal, $grey-72, 2rem);
}

@mixin copy-1 {
	@include font(1rem, normal, normal, $grey-72, 1.3rem);
}

@mixin copy-2 {
	@include font(0.9rem, normal, normal, $grey-72, 1.1rem);
}

@mixin copy-3 {
	@include font(1.1rem, normal, normal, $grey-4a, 1.8rem);
}

@mixin copy-4 {
	@include font(1.2rem, 500, normal, $grey-a6, 1.5rem);
}

@mixin copy-5 {
	@include font(1.3rem, 500, normal, $grey-4a, 1.9rem);
}

@mixin copy-6 {
	@include font(1.1rem, 500, normal, $grey-72, 1.4rem);
}

// global classes
.visually-hidden {
	position: absolute;
	height: 0;
	width: 0;
	border: 0;
	overflow: hidden;
	padding: 0;
}

.clearfix {
	@extend %clearfix;
}

.layout-width {
	@include layoutWidth();
}

.menu {
	float: left;
	margin: 0;
	padding: 0;
	li {
		float: left;
		list-style: none outside none !important;
	}
}
